---
import Base from "@/layouts/Base.astro";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import "@/styles/storyblok.scss";

export async function getStaticPaths() {
  const storyblokApi = useStoryblokApi();

  const links = await storyblokApi.getAll("cdn/links", {
    version: "draft",
  });
  return links
    .filter((link) => !link.is_folder)
    .map((link) => {
      return {
        params: {
          slug: link.slug === "home" ? undefined : link.slug,
        },
      };
    });
}

const { slug } = Astro.params;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(
  `cdn/stories/${slug === undefined ? "home" : slug}`,
  {
    version: "draft",
    resolve_relations: ['popular-articles.articles'],
  }
);

const story = data.story;

---

<Base title={story.content?.title} image={story.content?.image?.filename}>
  <section class="section">
    <div class="container">
      <StoryblokComponent blok={story.content} class="storyblok-component" />
    </div>
  </section>
</Base>
